<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.generator.mapper.GenTableColumnMapper">
    <resultMap id="BaseResultMap" type="com.king.generator.pojo.GenTableColumn">
        <result column="Field" jdbcType="VARCHAR" property="columnName"/>
        <result column="Type" jdbcType="VARCHAR" property="columnType"/>
        <result column="Comment" jdbcType="VARCHAR" property="columnComment"/>
    </resultMap>
    <sql id="Base_Column_List">
        Field, Type, `Comment`
    </sql>
    <select id="selectTableColumnsByTableName" parameterType="java.lang.String" resultMap="BaseResultMap" statementType="STATEMENT">
        SHOW FULL COLUMNS FROM ${tableName}
    </select>
</mapper>
