<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.generator.mapper.MysqlTableMapper">
    <resultMap id="BaseResultMap" type="com.king.generator.pojo.MysqlTable">
        <result column="TABLE_NAME" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
        TABLE_NAME
    </sql>
    <select id="select4MysqlTable" resultType="com.king.generator.pojo.MysqlTable" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from INFORMATION_SCHEMA.TABLES
        where TABLE_SCHEMA = (select database())
        <if test="name != null and name != ''">
            and TABLE_NAME = #{name,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="select4Count" resultType="java.lang.Integer">
        select count(0)
        from INFORMATION_SCHEMA.TABLES
        where TABLE_SCHEMA = (select database())
        <if test="name != null and name != ''">
            and TABLE_NAME = #{name,jdbcType=VARCHAR}
        </if>
    </select>

</mapper>
