<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.generator.mapper.MysqlFieldMapper">
    <resultMap id="BaseResultMap" type="com.king.generator.pojo.MysqlField">
        <id column="Field" jdbcType="VARCHAR" property="field"/>
        <result column="Type" jdbcType="VARCHAR" property="type"/>
        <result column="Comment" jdbcType="VARCHAR" property="comment"/>
        <result column="Key" jdbcType="VARCHAR" property="key"/>
    </resultMap>
    <sql id="Base_Column_List">
        Field, Type, `Comment`, `Key`
    </sql>
    <select id="selectMysqlFieldsByTableName" parameterType="java.lang.String" resultMap="BaseResultMap" statementType="STATEMENT">
        show full columns from ${tableName}
    </select>
</mapper>